body {
    display: flex;
    flex-direction: column;
}

.container_1 {
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
}

.header_1 {
    display:flex;
    justify-content: space-between;
}

.header_logo {
    font-size: 25px;
    font-weight: 900;
    padding: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 15px;
    font-weight: 100;
    gap: 5px;
    padding: 10px;
}

.container_1_1 {
    display: flex;
}

.text_1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    margin:40px;
}

.large_text_1 {
    font-size: 40px;
    font-weight: 900;
    padding: 10px;
}

.small_text_1 {
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
}

.button_1 {
    background-color: blue;
    color: white;
    height: 40px;
    width: 80px;
    padding: 10px;
}

.images_1 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding:15px;
    margin:40px;
}
.images_1 img {
    height:150px;
    width:350px;
}
.container_2 {
    display: flex;
}

.container_3 {
    background-color: lightgray;
    display: flex;
}

.container_4 {
    display: flex;
}